// Navigation Styles here

.navigation {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    a {
        margin: 20px;
        color: black;
        font-size: 1.5rem;
        margin: 10px;
    }

   
}

@media @mobile {
    .navigation {
        display: flex;
        flex-direction: column;
        margin-left: 75px;
        a{
            margin: 25px;
        }
    }
    .fun{
        display: flex;
        justify-content: center;
    }
    
    

   
}